<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Produk</title>
</head>
<body>
    <center>
        <h1>Produk</h1>
        <a href="addItem">add produk</a>
        <br/>
        <table>
            <tr>
                <th>id</th>
                <th>nama produk</th>
                <th>deskripsi</th>
                <th>stok</th>
                <th>harga</th>
                <th>aksi</th>
            </tr>
            <% links.forEach(function(entry){%>
            <tr>
                <td><%= entry.id_product %></td>
                <td><%= entry.product_name %></td>
                <td><%= entry.description %></td>
                <td><%= entry.stock %></td>
                <td><%= entry.price %></td>
                <td><a href="editItem/<%= entry.id_product %>">Edit </a><a href="deleteItem/<%= entry.id_product %>">Hapus</a></td>
            </tr>
            <% }) %>
        </table>
        <a href="/">home</a>
    </center>
</body>
</html>